<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
  <parameter name="Source" value="Manchester" ></parameter>
  <parameter name="Destination" value="Amsterdam" ></parameter>
    <classes>
      <class name="org.cts.test.DataDriven.TC1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
